/* хедер */
.header {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}
/* логотип */
.logo {
    padding: 25px 50px 26px 312px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(4, 0, 98, 100);
}
/* навигация */
.nav {
    padding: 28px 708px 28px 0;
    display: flex;
    gap: 20px;
}
/* ссылки */
.nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(4, 0, 98, 100);
}
/* кнопка */
.button {
    padding: 10px 20px;
    background-color: rgb(0, 19, 255, 100);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
